body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
h1,h2,h3,h4,h5,p{
  margin: 0;
  padding: 0
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
#game {
  display: flex;
  flex-direction: column;
}
#main {
  display: flex;
  margin: 50px auto;
  flex-direction: column;
  background-color: rgb(169, 201, 26);
  width: 500px;
  border: 7px solid rgb(166, 199, 19);
}
#main #question {
  color: rgb(79, 83, 78);
  text-align: center;
  padding: 10px;
  background-color: rgba(163, 241, 99, 0.473);
}

#main #answers {
  margin: 10px 0;
  display: flex;
  flex-direction: column;
}
#main #answers button {
  cursor: pointer;
  font-size: 16px;
  color:rgb(86, 139, 56);
  background-color: rgb(255, 255, 255);
  border:0;
  margin: 5px 0;
  padding: 10px;
}
#main .mainQuestion.unChoosedDiv #answers button:hover {
  background-color: rgb(157, 253, 148);

}
#main #answers button.falseB{
  font-weight: bold;
  color: white;
  background-color: rgb(165, 63, 63)
}
#main #answers button.trueB{  
  font-weight: bold;
  color: white;
  background-color: rgb(6, 177, 15);
}
.mainQuestion  {
  display: flex;
  flex-direction: column;
}
.mainQuestion #controls {
  display: inline-block;
  margin: 0 auto;
}
.mainQuestion #controls button {
  cursor: pointer;
  font-size: 16px;
  color:rgb(119, 119, 119);
  background-color: rgb(145, 255, 0);
  border:0;
  margin: 5px 0;
  padding: 10px;
}
.mainQuestion #controls button:hover {
  background-color: rgb(187, 253, 101);
}

#score {
  color: white;
}

#startA{
  cursor: pointer;
  font-size: 16px;
  color:rgb(56, 56, 56);
  background-color: rgb(145, 255, 0);
  border:0;
  margin: 5px 0;
  padding: 10px;
  background-color: rgb(145, 255, 0);
}
#startA:hover {
  background-color: rgb(187, 253, 101);
}

#starter {
  width: 500px;
  height: 274px;
  margin: 50px auto;  
  margin-top: 80px;
  cursor: pointer;
  font-size: 25px;
  color:rgb(56, 56, 56);
  background-color: rgb(145, 255, 0);
  border:0;
  padding: 10px;
}
#starter:hover {
  background-color: rgb(99, 170, 7);
  font-size: 45px;
  color: white;
}

#adder {
  color: rgb(82, 74, 119);
  font-size: 18px;
  padding: 0 5px;
  /* padding-top: 0; */
  border:5px solid rgba(98, 70, 255, 0.589);
  margin: 100px auto;
  display: flex;
  flex-direction: column;
  width: 500px;
  background-color: rgb(169, 177, 245);
  margin-bottom: 20px;
}
#adder h3 {
  background-color: rgba(98, 70, 255, 0.589);
  color: rgb(206, 201, 250);
  padding: 5px 20px;
  margin: 0 auto;
  margin-bottom: 12px;
}
#adder .adL {
  text-align: center;
   display: flex;
   flex-direction: column;
   margin-bottom: 10px;
}
#adder .adL label {
  margin-bottom: 5px;
}
#adder .adL input {
  padding: 5px;
  color:  rgb(150, 150, 241);
}
#adder button {
  color:  white;
  cursor: pointer;
  background-color: rgba(98, 70, 255, 0.589);
  border:0;
  padding: 10px;
  width: 200px;
  margin: 10px auto;
}
#adder button:hover {
  background-color: rgba(140, 130, 197, 0.589);
  color: rgb(90, 89, 117);
}
#adder select {
  color: rgb(82, 74, 119);
  padding: 5px;
}

/* #answers:nth-child(0) {

} */



.logOrReg {
  font-size: 19px;
  /* color:rgb(219, 197, 0); */

  border: 4px solid rgb(235, 212, 4);
  flex-direction: column;
  align-items: center;
  padding: 20px;
  display: flex;
  margin: 50px auto;
  width: 400px;
  background-color: rgb(235, 235, 235);
}
.logOrReg .logRow {
  color:rgb(230, 210, 32);
  text-align: center;
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px;
  display: flex;
}
.logOrReg input {
  margin-top: 5px;
  color: rgba(255, 217, 49, 0.884);
  padding: 5px;
  outline: 0;
  border: 0;
  border:2px solid rgb(255, 238, 0);
}
.logOrReg button {
  margin-top: 10px;
  cursor: pointer;
  padding:  10px 20px;
  border: 0;
  background-color: white;
  color:rgb(219, 197, 0);
  border:2px solid rgb(228, 216, 46);
}
.logOrReg button:hover {
  background-color: rgb(228, 216, 46);
  color:white;
}
.logOrReg .logRow label {
  width: 100px;
}
.logOrReg .logBs label{
  cursor: pointer;
  color: rgb(228, 216, 46);
  margin-left: 30px;
  font-size: 14px;
}
.logOrReg .logBs label:hover {
  color: rgb(194, 188, 104);

}


#header { 
  top: 0;
  left: 0;
  width: 100%;
  position: absolute;
  padding: 3px 48px;
  height: 31px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(172, 172, 172);
}

#header h2 {
  margin: 0;
  padding: 0;
  font-size: 20px;
  color: rgba(255, 255, 255, 0.726);
}
#header label {
  margin-left: 18px;
  font-size: 16px;
  color: white;
}
#header button {
  cursor: pointer;
  font-size: 15px;
  padding: 4px 7px;
  border: 0;
  margin-left: 16px;
  color: rgb(151, 151, 151);
  background-color: rgb(206, 206, 206);
}
#header button:hover {
  color:rgb(219, 197, 0);
  background-color: white;
}
